*{
	margin:0;
	padding: 0;
	font: 16px Microsoft JhengHei;
}

#universe{

	width: 60%;
	background-color: #ccc;

}

#info{

	width: 40%;
	float: right;
	padding: 100px;
	/*vertical-align: middle;*/

}

#table{
	
	width: 90%;
	border-left: 1px solid #666;
	border-top: 1px solid #666;

}

#table th{

	background-color: #ccc;

}

#table th, #table td{

	width: 20%;
	text-align: center;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 10px;

}

#console{

	max-width: 100%;
	width: 100%;
	position: absolute;
	top: 100%;
	transform:translate(0,-100%);
	background-color: black;
	padding: 10px;
	box-sizing:border-box;

}

#panel{
	text-align: center;
	width: 50%;
	float: left;
	background-color: #333;
	padding: 0px 0 10px 0;
	color: white;
}

#panel>span{
	background-color: black;
	padding: 8px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}

#panel>div{
	text-align: center;
}

#logcat{

	width: 50%;
	float: right;
	text-align: center;
	padding: 0 10px;
	box-sizing:border-box;

}

.launch, .fly, .stop, .destroy{

	width: 15%;
	height: 30px;
	margin: 5px;
	background-color: #000;
	border: none;
	border: 1px solid white;
	cursor: pointer;
	color: white;	

}

#logcat>span{

	background-color: black;
	padding: 8px;
	display: block;
	font-weight: bold;
	font-size: 20px;
	color: white;
	cursor: pointer;

}

#content{
	
	font-size: 12px;
	overflow: auto;
	width: 100%;
	height: 220px;
	color: white;
	padding: 10px;
	outline: 1px solid white;
	box-sizing:border-box;
	text-align: left;

}

img{
	width: 30px;
}

#planet{

	width: 180px;
	height: 180px;
	background-color: tomato;
	border-radius: 90px;
	position: absolute;
	top: 180px;

}

.orbit{

	border: 1px solid tomato;
	position: absolute;

}

#orbit1{

	width: 240px;
	height: 240px;
	border-radius: 300px;
	top: 150px;

}

#orbit2{

	width: 300px;
	height: 300px;
	border-radius: 300px;
	top: 120px;

}

#orbit3{

	width: 360px;
	height: 360px;
	border-radius: 300px;
	top: 90px;

}

#orbit4{

	width: 420px;
	height: 420px;
	border-radius: 300px;
	top: 60px;

}

.progressbar{

	width: 6px;
	height: 30px;
	background-color: #33B352;
	float: left;
	margin-right: 5px;

}


.ship{
	
	display: none;
	position: absolute;
	z-index: 2000;
	background-color: none;

}

form{

	padding: 10px;

}

form span{

	font-weight: bold;

}

#dynamic, #fuel{

	display: inline-block;

}
